body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
    padding: 40px;
}

.container {
    margin-top: 30px;
}

.btn {
    padding: 12px 20px;
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
    background: #3498db;
    border: none;
    color: white;
    border-radius: 6px;
}

.box {
    width: 150px;
    height: 150px;
    background: #ffcc00;
    margin: 20px auto;
    line-height: 150px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.circle {
    width: 120px;
    height: 120px;
    background: #9b59b6;
    border-radius: 50%;
    margin: 20px auto;
    line-height: 120px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#message {
    font-size: 18px;
    margin-top: 20px;
}
